-e .
behave
junit-xml
mock
pre-commit
pytest
pytest-benchmark
pytest-mock
pytest-retry
pytest-timeout
pytest-xdist
icecream
tabulate
git+https://github.com/neptune-ai/neptune-client-scale.git@main#egg=neptune-scale
hypothesis==6.139.2
