-e .
behave
junit-xml
mock
pre-commit
pytest
pytest-benchmark
pytest-mock
pytest-retry
pytest-timeout
pytest-xdist
icecream
tabulate
git+https://github.com/neptune-ai/neptune-client-scale.git@main#egg=neptune-scale
fastapi == 0.119.0
uvicorn == 0.35.0
humanize == 4.13.0
colorlog == 6.9.0
hypothesis==6.139.2
